<%- include('../partials/header.ejs') %>
<div class="search-options">
    <form action="" method="post">
        <% if(criteria.deleteCriteriaCompany !== ''){ %>
        <input
            type="text"
            name="searchCompany"
            id="searchCompany"
            placeholder="Firma"
            value="<%= criteria.deleteCriteriaCompany %>"
        />
        <% } else { %>
        <input
            type="text"
            name="searchCompany"
            id="searchCompany"
            placeholder="Firma"
        />
        <% } %> <% if(criteria.deleteCriteriaFirstName !== ''){ %>
        <input
            type="text"
            name="searchFirstName"
            id="searchFirstName"
            placeholder="Vorname"
            value="<%= criteria.deleteCriteriaFirstName %>"
        />
        <% } else { %>
        <input
            type="text"
            name="searchFirstName"
            id="searchFirstName"
            placeholder=" Vorname"
        />
        <% } %> <% if(criteria.deleteCriteriaLastName !== ''){ %>
        <input
            type="text"
            name="searchLastName"
            id="searchLastName"
            placeholder="Nachname"
            value="<%= criteria.deleteCriteriaLastName %>"
        />
        <% } else { %>
        <input
            type="text"
            name="searchLastName"
            id="searchLastName"
            placeholder="Nachname"
        />
        <% } %> <% if(criteria.deleteCriteriaCity !== ''){ %>
        <input
            type="text"
            name="searchCity"
            id="searchCity"
            placeholder="Stadt"
            value="<%= criteria.deleteCriteriaCity %>"
        />
        <% } else { %>
        <input
            type="text"
            name="searchCity"
            id="searchCity"
            placeholder="Stadt"
        />
        <% } %>
        <button type="submit" class="btn-primary">suchen</button>
    </form>
</div>

<table class="show-table">
    <tr>
        <th>Firma</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Postleitzahl</th>
        <th>Stadt</th>
        <th>Straße</th>
        <th>Hausnummer</th>
        <th>Adresszusatz</th>
        <th>Produkt</th>
        <th></th>
    </tr>
    <% results.forEach((result)=> { %>
    <tr>
        <td><%= result.Firma %></td>
        <td><%= result.Vorname %></td>
        <td><%= result.Nachname %></td>
        <td><%= result.Postleitzahl %></td>
        <td><%= result.Stadt %></td>
        <td><%= result.Strasse %></td>
        <td><%= result.Hausnummer %></td>
        <td><%= result.Adresszusatz %></td>
        <td><%= result.Produkt %></td>
        <td>
            <form action="/delete-item" method="POST">
                <input
                    type="hidden"
                    name="searchCompany"
                    value="<%= result.Firma %>"
                />
                <input
                    type="hidden"
                    name="searchFirstName"
                    value="<%= result.Vorname %>"
                />
                <input
                    type="hidden"
                    name="searchLastName"
                    value="<%= result.Nachname %>"
                />
                <input
                    type="hidden"
                    name="searchCity"
                    value="<%= result.Stadt %>"
                />
                <input
                    type="image"
                    class="icon-bin"
                    src="img/bin.png"
                    alt="Submit"
                    onmouseover="hover(this);"
                    onmouseout="unhover(this);"
                />
                <input
                    type="hidden"
                    name="deleteCriteriaCompany"
                    class="deleteCriteriaCompany"
                />
                <input
                    type="hidden"
                    name="deleteCriteriaFirstName"
                    class="deleteCriteriaFirstName"
                />
                <input
                    type="hidden"
                    name="deleteCriteriaLastName"
                    class="deleteCriteriaLastName"
                />
                <input
                    type="hidden"
                    name="deleteCriteriaCity"
                    class="deleteCriteriaCity"
                />
            </form>
        </td>
    </tr>
    <% }) %>
</table>
<script src="js/delete-hover.js"></script>
<%- include('../partials/footer.ejs', {flag: flag}) %>
