<%- include('../partials/header.ejs') %>
<table class="show-table">
    <tr>
        <th>Firma</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Postleitzahl</th>
        <th>Stadt</th>
        <th>Straße</th>
        <th>Hausnummer</th>
        <th>Adresszusatz</th>
        <th>Produkt</th>
    </tr>
    <% data.forEach((date)=> { %>
    <tr>
        <td><%= date.Firma %></td>
        <td><%= date.Vorname %></td>
        <td><%= date.Nachname %></td>
        <td><%= date.Postleitzahl %></td>
        <td><%= date.Stadt %></td>
        <td><%= date.Straße %></td>
        <td><%= date.Hausnummer %></td>
        <td><%= date.Adresszusatz %></td>
        <td><%= date.Produkt %></td>
    </tr>
    <% }) %>
</table>
<%- include('../partials/footer.ejs') %>
